.terraform
.terraform.*
*.tfstate.*
*.tfstate
*.tfvars
*.tf
.venv
./pipeline/*.env
./terraform/.tfvars
.env
**/.env
./summary/out_summary/
./summary/out_summary/*
./summary/out_summary/.csv
./summary/out_summary/*.csv

__pycache__
.pytest_cache
.pyc
/coverage
.vscode