.terraform
.terraform.*
*.tfstate.*
*.tfstate
*.tfvars
*.tf
.venv
./pipeline/*.env
./terraform/.tfvars
.env
**/.env
./summary/out_summary/
./summary/out_summary/*
./summary/out_summary/.csv
./summary/out_summary/*.csv
pipeline/.pytest_cache
pipeline/__pycache__